.reviewCard {
  box-sizing: border-box;
  background: #ffeade;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 16px 16px 24px;
  width: 100%;
  position: relative;
}

.reviewIntro {
  text-align: center;
}

.reviewCard h3 {
  font-family: 'Rasa', serif;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 24px 0 0;
  font-weight: 400;
}

.reminder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 30px;
}

.checkDefinition {
  transition: background 0.1s;
  background: #8c571a;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  width: 160px;
  letter-spacing: -0.06;
  margin: 32px auto 16px;
}

.checkDefinition:hover {
  background: #a26621;
}

.viewDefinition {
  text-align: center;
}

.difficulty {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.64);
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-top: solid rgba(0, 0, 0, 0.2) 1px;
  margin: 40px -16px 0;
  padding-top: 40px;
}

.actionButtons {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  overflow: visible;
  position: relative;
  height: 70px;
}

.actionButtons button {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: 0;
  border: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #704616;
}

.actionButtons button:hover {
  background: rgba(157, 103, 91, 0.1);
}

.buttonContainer {
  text-align: center;
  position: absolute;
}

.easy {
  left: 0;
}

.hard {
  right: 0;
}

.interval {
  display: block;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px;
  font-weight: 600;
}
