.definition-list {
  text-align: left;
}

.lexical-category {
  margin: 16px 0 0;
  font-style: italic;
  font-family: "Rasa", serif;
}

.definition-item {
  margin-top: 8px;
  font-family: "Rasa", serif;
}

.definition-index {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 600;
}

.definition-text {
  margin: 0;
  font-size: 1.1rem;
  padding-left: 24px;
  line-height: 1.4rem;
}

.definition-example {
  font-size: 1.1rem;
  margin: 0;
  color: #626262;
  padding-left: 24px;
  line-height: 1.4rem;
}
