.list-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  color: #626262;
  padding: 0;
  margin: 16px 0 0;
}

.list {
  margin-top: 8px;
  border: solid #ccbbb2 1px;
  border-radius: 2px;
  overflow: hidden;
  font-size: 0.9rem;
}

.loading {
  font-size: 0.9rem;
  padding: 0;
  margin: 16px 0 0;
}
