.item {
  padding: 12px 8px 12px 0;
  border-top: solid #e5d2c7 1px;
  margin-top: -1px;
  cursor: pointer;
  /* TODO - transition should come in fast, leave slow */
  transition: background 0.05s;
  display: flex;
}

.item:hover {
  background: #9d675b1a;
}

.check {
  color: #626262;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.content {
  padding: 0 8px;
}

.content p {
  margin: 0;
  padding: 0;
}

.subtitle {
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.active .check {
  color: green;
}

.active .title {
  font-weight: 600;
}
