.app-header {
  color: white;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  text-align: left;
}

.header-logo {
  font-family: "Rasa", serif;
  margin: 0;
  padding: 10px 24px;
  font-size: 1.7rem;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  letter-spacing: -0.06em;
  display: inline-block;
}

.header-navigation {
  display: inline-block;
}

.header-navigation button {
  background: 0;
  border: 0;
  transition: color 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgb(200, 200, 200);
  padding: 18px 24px;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}

.header-navigation button:hover {
  color: white;
}

.header-navigation button.active {
  color: white;
}
