.appHeader {
  display: flex;
}

.headerLogo {
  display: none;
}

.headerNavigation {
  text-align: left;
  display: flex;
  flex: 1;
}

.headerNavigation button {
  background: 0;
  border: 0;
  transition: color 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgb(200, 200, 200);
  padding: 16px 24px;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}

.headerNavigation button:hover {
  color: white;
}

.headerNavigation .active button {
  color: white;
}

.actionButtons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.settingsIcon {
  transition: transform 0.2s, opacity 0.2s;
  color: #fff;
  fill: #fff;
  cursor: pointer;
  padding: 10px;
  opacity: 0.8;
}

.settingsIcon:hover,
.active .settingsIcon {
  transform: rotate(60deg);
  opacity: 1;
}

@media (min-width: 700px) {
  .headerLogo {
    font-family: 'Rasa', serif;
    margin: 0;
    padding: 10px 24px;
    font-size: 1.7rem;
    font-weight: 400;
    display: inline-block;
    letter-spacing: -0.06em;
    display: inline-block;
    color: white;
  }
}
