.word-list-container {
  padding: 0 16px;
}

.words-status {
  color: rgb(220, 220, 220);
  padding-top: 40px;
}

.word-list-container .word-card:nth-child(n + 2) {
  display: none;
}

.word-list-container .word-card:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.word-list-container .word-card:last-child {
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .word-list-container {
    padding-top: 64px;
  }

  .word-list-container .word-card:nth-child(n + 2) {
    display: block;
  }
}
