.wordCard {
  font-family: 'Rasa', serif;
  margin: 48px auto;
  width: 100%;
  max-width: 304px;
  position: relative;
  text-align: left;
  display: block;
  vertical-align: top;
}

.removeIcon,
.icon {
  display: none;
}

.title {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.fetching,
.notFound {
  font-size: 0.9rem;
  color: #626262;
  margin: 8px 0 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.error {
  font-family: 'Open Sans', sans-serif;
  color: #d32f2f; /* TODO - Make global css var */
  font-size: 0.9rem;
  margin: 8px 0 0;
  padding: 0;
}

.actions {
  margin-top: 16px;
  text-align: right;
}

.actions button {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  border: 0;
  background: 0;
  cursor: pointer;
  color: #626262;
  color: #704616;
  padding: 8px;
  border-radius: 2px;
}

.actions button:hover {
  background: rgba(157, 103, 91, 0.1);
}

@media (min-width: 700px) {
  .wordCard {
    max-width: 608px;
  }

  .removeIcon {
    opacity: 0;
    transition: 0.1s box-shadow, 0.1s opacity;
    position: absolute;
    top: -12px;
    left: -12px;
    background: #ffeade;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    color: #626262;
    font-size: 1.3rem;
    display: inline-block;
  }

  .wordCard:hover .removeIcon {
    opacity: 1;
  }
}
