.app {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.app-view {
  flex: 1;
}

.hide {
  display: none !important;
}

@media (min-width: 700px) {
  .app-view {
    padding-bottom: 48px;
  }
}
