.appFooter {
  padding: 16px;
}

.appFooter a,
.appFooter span {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(200, 200, 200);
  text-decoration: none;
  display: inline-block;
  margin: 0 16px;
  cursor: pointer;
}

.appFooter a:hover,
.appFooter span:hover {
  color: #fff;
  text-decoration: underline;
}
